.form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    margin: 1rem;
}

.textarea {
    resize: none;
    
    font-size: 1rem;
    font-family: var(--type-first);
    padding: 0.5rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    background-color: #eee;
    transition: .2s;
}

.textarea:focus, .textarea:hover {
    outline: none;
    background-color: #fff;
    border-color: #fb1;
    box-shadow: 0 0 0 3px #fea;
}

.button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
    padding: 0 1rem;
    overflow: hidden;
}

.button:focus , 
.button:hover  {
    outline: none;
}
.button:focus svg path, 
.button:hover svg path {
    fill: #fea;
    stroke: #fb1;
}

.button:focus svg g, 
.button:hover svg g {
    animation: latir .6s infinite;
}

@keyframes latir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}